

body {
  background-image: url('./assets/world.png');
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}

header {
  color: blue;
  font-size: 80px;
  text-align: center;
}

#start {
    font-size: 50px;
    font-family: comic sans ms;
    color: yellow;
    padding: 300px;
    position: center;
    padding-left: 300px;
    text-align: center;
}

